################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/test_pytorch1/x64/Debug
/x64/Debug
/.vs/test_pytorch1/FileContentIndex
/.vs/test_pytorch1/v17/Browse.VC.db-shm
/.vs/test_pytorch1/v17/Browse.VC.db-wal
/.vs/test_pytorch1/v17/Browse.VC.opendb
/.vs/test_pytorch1/v17/.suo
/Dll
/.vs/test_pytorch1/v17/Browse.VC.db
/.vs/test_pytorch1/v17/ipch/AutoPCH/23054beab4900287/TEST_PYTORCH1.ipch
*.ipch
