################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/test_pytorch1/x64/Debug
/x64/Debug
/.vs/test_pytorch1/FileContentIndex
